*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-image: url("../img/istockphoto-533964623-612x612.jpg");
}

.name{
    margin-top: 20px;
    margin-left: 200px;
    width: 200px;
    height: 70px;
    background-color: rgb(28, 117, 87);
}

.name h2{
  color: white;
  text-align: center;
  padding: 20px;

}

.about a{
    float: left;
    font-size: 20px;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px;
    margin-right: 150px; 
    text-align: center;
   
    
}

.main{
    background-color: white;
    display: flex;
    justify-content :space-between; 
}


.text{
    width: 800px;
    height: 600px;
    margin-top: 40px;
    margin-left: 200px;
    background-color: white;
 float: left;


}

.text h2{
    font-size: 30px;
    margin-top: 30px;
    padding: 15px;
    padding-right: 600px;
    color:rgb(28, 117, 87);   
}

.imgs{
    float: left;
}


.text img{
    width: 200px;
    height: 200px;
    margin-left: 30px;
    margin-top: 10px; 
}

.img1 p{
    font-size: 20px;
    padding-left: 20px;
    padding-top: 25px;
}

.img1 h1{
    font-size: 30px;
    padding-left: 20px;
    padding-top: 50px;    
}

.text2{
    width: 400px;
    height: 200px;
    margin-left: 100px;
    margin-top: 40px;
    background-color: white;
}

.text2 h2{
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    color:rgb(28, 117, 87); 
}

.icon1{
    width: 100px;
    height: 100px;
    padding: 5px;
    margin-top: 20px;

}

.main2{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-right: 150px; 
    text-align: center; 
}

.text3{
    height: 5px;
    background-color: rgb(0, 173, 136);   
    border: 1px ;
}

.text4{
    height: 214px;
    background-color: rgb(61, 61, 61);   
}

.text4 p{
    font-size: 30px;
    text-align: center;
    padding-top: 107px;
    color: rgb(95, 95, 95); 
    
}

